.task-wrapper__delete {
    position: absolute;
    left: 5px;
    top: 0;
    
    aspect-ratio: 1;
    width: 40px;
    opacity: 0.6;
    transition: 150ms ease;
}

.task-wrapper__delete:hover {
    opacity: 1;
}