.task-table-row {
    position: relative;
    display: flex;
    align-items: center;

    width: 100%;
    max-width: 100%;
    /* width: fit-content; */

    user-select: none;
}

.task-table-row_header {
    border-top: var(--table-border);
}

.task-table-row {
    border-bottom: var(--table-border);
}

.task-table-row_active {    
    width: fit-content;
    transition: outline 45ms ease;
    /* outline: solid 2px rgba(0, 127, 211, 0.75); */
    outline: var(--table-border);
    opacity: 0.45;
    z-index: 99;
    background-color: rgba(245, 245, 245);

    position: fixed;
}

.task-table-row_hovered::after {
    /* border-top: solid 3px rgb(190, 190, 190); */
    position: absolute;
    background-color: rgb(190, 190, 190);
    height: 3px;
    width: 100%;
    bottom: 0;
    left: 0;
    transform: translateY(50%);
    content: "";
    transition: ease 100ms;
    /* z-index: 999; */
}

.task-table:has(.task-table-row_hovered) .task-table-row_active {
    /* height: 35px !important; */
}

/* .task-table-row_hovered::after {
    content: "";
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    transform: translateY(-100%);
    background-color: red;
} */