.flex-box {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    height: fit-content;
}

.flex-box_column {
    flex-direction: column;
}

.flex-box_width-1 {
    width: 40vw;
}

.flex-box_fullscreen {
    width: 100dvw;
    height: 100dvh;
}

.flex-box_fullwidth {
    width: 100%;
}

.flex-box_align-center {
    align-items: center;
}

.flex-box_centered {
    align-self: center;
    margin: 0 auto;
}

.flex-box_reverse {
    flex-direction: row-reverse;
}

.flex-box_space-between {
    justify-content: space-between;
}

.flex-box_shadow {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
}

.flex-box_rounded {
    border-radius: 0.85vw;
}

.flex-box_margin-1 * {
    margin: 0.1vw;
}
.flex-box_margin-2 * {
    margin: 0.25vw;
}

.flex-box_padding-1 {
    padding: 2vw;
}

.flex-box_side-padding-1 {
    padding: 0 3vw;
}

.flex-box_side-padding-2 {
    padding-left: 5vw;
    padding-right: 5vw;
}

.flex-box_vert-padding-1 {
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
}

.flex-box_border {
    border-bottom: 2px solid var(--color-gray-border);
}