version: "3.3"

volumes:
  pg_data:
  static:
  media:

services:
  db:
    container_name: planner_database
    image: postgres:13.10
    env_file: .env
    volumes:
      - pg_data:/var/lib/postgresql/data

  backend:
    container_name: planner_backend
    image: licrimovor/planner_backend
    command: gunicorn --bind 0.0.0.0:8000 backend.wsgi
    env_file: .env
    depends_on:
      - db
    volumes:
      - static:/backend_static
      - media:/app/media
      - ./data:/data
      - ./.env:/.env

  frontend:
    container_name: planner_frontend
    image: licrimovor/planner_frontend
    env_file: .env
    command: cp -r /app/static/. /static/
    volumes:
      - static:/app/static/

  nginx:
    container_name: planner_nginx
    image: nginx:1.22.1
    env_file: .env
    ports:
      - 7000:80
    depends_on:
      - backend
      - frontend
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - static:/usr/share/nginx/html/
      - media:/media

  redis:
    image: redis:5-alpine
    ports:
      - 6379:6379

  celery_worker:
    container_name: planner_celery_worker
    image: licrimovor/planner_backend
    command: celery worker -A planer_worker --loglevel=info
    env_file: .env
    depends_on:
      - backend
      - redis
      - db
    volumes:
      - ./project:/usr/src/app
      - ./.env:/.env

  celery_beat:
    container_name: planner_celery_beat
    image: licrimovor/planner_backend
    command: celery -A planer_worker beat  -l INFO
    env_file: .env
    depends_on:
      - backend
      - redis
      - db
    volumes:
      - ./project:/usr/src/app
      - ./.env:/.env

  # tg_bot:
  #   container_name: planner_tg_bot
  #   image: licrimovor/planner_backend
  #   command: celery worker --app=core --loglevel=info
  #   env_file: .env
  #   depends_on:
  #     - backend
  #     - redis
  #     - db
  #   volumes:
  #     - ./project:/usr/src/app
  #     - ./.env:/.env

  # dashboard:
  #   build: ./project
  #   command:  flower -A core --port=5555 --broker=redis://redis:6379/0
  #   ports:
  #     - 5555:5555
  #   environment:
  #     - DEBUG=1
  #     - SECRET_KEY=dbaa1_i7%*3r9-=z-+_mz4r-!qeed@(-a_r(g@k8jo8y3r27%m
  #     - DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1]
  #     - CELERY_BROKER=redis://redis:6379/0
  #     - CELERY_BACKEND=redis://redis:6379/0
  #   depends_on:
  #     - web
  #     - redis
  #     - celery
