.company-list__item {
    width: 100%;
    text-align: center;

    padding: 0.25vw;
    font-size: 0.9vw;
}

.company-list__item:hover {
    cursor: pointer;
    background-color: rgb(245, 245, 245);
}

.company-list__item:first-child {
    border-radius: 1vw 1vw 0 0;
}

.company-list__item:last-child {
    border-radius: 0 0 1vw 1vw;
}