.taskTrait {
  --trait-color: white;

  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--trait-color);
  border-radius: 100vw;

  width: fit-content;
  padding: 0 1vw;
  margin: 0.15vw;
  height: 1.5vw;

  cursor: pointer;

  &__label {
    margin-right: 0.3vw;
    color: color-mix(in srgb, black 80%, var(--trait-color) 50%);
    //font-weight: 500;
  }

  &__remove {
    position: absolute;
    right: 0.3vw;
    width: 0.9vw;

    opacity: 0;

    transition: opacity 150ms ease;
  }

  &:hover {
    outline: solid 2px color-mix(in srgb, black 40%, var(--trait-color));
  }

  &:hover &__remove {
    opacity: 0.4;

    &:hover {
      opacity: 0.6;
    }
  }
}

.taskTraitAdd {
  opacity: 0.5;
  transition: opacity 150ms ease;
  cursor: pointer;

  &:hover {
    opacity: 0.75;
  }
}

.taskTraitList {
  position: fixed;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 1vw;
  margin: 0.25vw;
  min-width: 10vw;
  height: fit-content;
  border: solid 2px rgba(255, 229, 0, 0.3);

  background: #303031;

  z-index: 2;

  &__button {
    display: flex;
    justify-content: center;

    min-width: 60%;
    width: fit-content;
    border-radius: 100vw;

    margin: 0.25vw 0.1vw;
    padding: 0.1vw 1vw;

    background: var(--trait-color);
    color: color-mix(in srgb, black 80%, var(--trait-color) 50%);
    cursor: pointer;
  }
}