.authHeader {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__label {
    font-size: 2vw;
    font-weight: 500;
    text-align: center;

    & span {
      font-size: 1.5vw;
      color: #DADADA;
    }
  }

  &__logo {
    width: 8vw;
    margin: 1vw 0;
  }

}