version: "3.3"

volumes:
  pg_data:
  static:
  media:

services:
  db:
    image: postgres:13
    env_file: .env
    volumes:
      - pg_data:/var/lib/postgresql/data

  backend:
    build: ../backend/
    env_file: .env
    entrypoint: /app/docker/backend-entrypoint.sh
    depends_on:
      - db
    volumes:
      - static:/backend_static
      - media:/app/media
      - ../data:/data

  nginx:
    image: nginx:1.19.3
    ports:
      - "80:80"
    depends_on:
      - backend
      # - frontend
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - static:/usr/share/nginx/html/
      - media:/media

  redis:
    image: redis:5-alpine
    ports:
      - 6379:6379

  celery_worker:
    container_name: planner_celery_worker
    build: ../backend/
    entrypoint: /app/docker/worker-entrypoint.sh
    env_file: .env
    depends_on:
      - backend
      - redis
      - db
    volumes:
      - ./project:/usr/src/app
      - ./.env:/.env

  celery_beat:
    container_name: planner_celery_beat
    build: ../backend/
    entrypoint: /app/docker/beat-entrypoint.sh
    env_file: .env
    depends_on:
      - backend
      - redis
      - db
    volumes:
      - ./project:/usr/src/app
      - ./.env:/.env
