version: "3.3"

volumes:
  pg_data:
  static:
  media:

services:
  db:
    container_name: planner_database
    image: postgres:13.10
    env_file: .env
    volumes:
      - pg_data:/var/lib/postgresql/data

  backend:
    container_name: planner_backend
    image: licrimovor/planner_backend
    env_file: .env
    depends_on:
      - db
    volumes:
      - static:/backend_static
      - media:/app/media
      - ./data:/data
      - ./.env:/.env

  frontend:
    container_name: planner_frontend
    image: licrimovor/planner_frontend
    env_file: .env
    command: cp -r /app/static/. /static/
    volumes:
      - static:/app/static/

  nginx:
    container_name: planner_nginx
    image: nginx:1.22.1
    env_file: .env
    ports:
      - 7000:80
    depends_on:
      - backend
      - frontend
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - static:/usr/share/nginx/html/
      - media:/media
