<div class="flex-box flex-box_fullwidth flex-box_border flex-box_space-between flex-box_align-center flex-box_side-padding-2 flex-box_vert-padding-1">
    <div class="flex-box flex-box_align-center flex-box_margin-2">
        <img src="/frontend/img/more.svg" class="image_size-1" style="cursor: pointer;">
        <p class="text_small2 text_weight-500">ООО "РЖД"</p>
    </div>

    <div class="flex-box flex-box_align-center flex-box_reverse flex-box_margin-2">
        <img src="/frontend/img/menu.svg" class="image_size-1" style="cursor: pointer;">
        <p class="text_small">inSmoth</p>
    </div>
</div>