:root {
    --color-bg-gray: #f3f4f6;
    --color-light-gray: #78716c;
    --color-gray-border: rgb(209, 209, 209);
    --color-stone: #918984;
    --color-error: #d62e2e;
}

.bg-white {
    background-color: white;
}

.bg-gray {
    background-color: var(--color-bg-gray);
}

.text_white {
    color: white;
}

.text_light-gray {
    color: var(--color-light-gray);
}