* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    font-size: 0;
}

p, a, input {
    font-size: 1vw;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
}

.br {
    width: 100%;
}

.br_1 {
    height: 0.5vw;
}

.br_2 {
    height: 1vw;
}

input {
    outline: 0;
    border: none;
    background: none;
}

::-webkit-input-placeholder {
    color: #b3aeaa;
}

.full-width {
    width: 100%;
}

.rounded {
    border-radius: 0.85vw;
}