.notification {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  z-index: 1000;
}

.stripes {
  position: absolute;
  top: -20px;
  right: 0;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stripe {
  width: 25px;
  height: 3px;
  background-color: #000;
  margin: 2px 0;
}
