.action-menu {
    position: absolute;

    left: 800px;
    top: 400px;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 200px;

    background-color: white;
    border: solid 1px rgb(0, 0, 0, 0.2);
    border-radius: 5px;
}