.task-table {
    display: flex;
    flex-direction: column;

    width: 75%;
    height: fit-content;
    /* max-width: 75%; */
    /* border-left: var(--table-border);
    border-right: var(--table-border); */
}