.loading {
    margin: 20px 0;

    aspect-ratio: 1;
    height: 50px;

    animation-name: loading-animation;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    opacity: 0;
    transition: 250ms linear;
}

.loading_show {
    /* height: 50px; */
    opacity: 1;
}

@keyframes loading-animation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}