
.task-table-cell__input {
    flex: 1 0 auto;
    height: 30px;
    background: transparent;
    outline: none;
    /* border: solid 1px rgb(117, 117, 117); */
    border-radius: 5px;
    padding: 0;
    padding-bottom: 2px;

    color: black;
    font-size: 1.1rem;
    white-space: nowrap;
    overflow: hidden;

    border: none;
    border-bottom: var(--table-border);
}