
.task-table-cell__input {
    flex: 1 0 auto;
    height: 30px;
    background: transparent;
    outline: none;
    /* border: solid 1px rgb(117, 117, 117); */
    border-radius: 5px;
    padding: 0;
    padding-bottom: 2px;

    color: black;
    font-size: 1.1rem;
    white-space: nowrap;
    overflow: hidden;

    border: none;

    cursor: pointer;

}

.task-table-cell__input[type="text"]:focus {
    cursor: text;
    border-bottom: var(--table-border);
    margin-bottom: -1px;
}




.task-table-cell__input_deadline {
    display: flex;
    justify-content: center;

    aspect-ratio: 1;
    width: 24px;

    flex: none;
    border: none;
    opacity: 0;
    transition: opacity 150ms ease;

    background-image: url("/frontend/html/img/date.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}
.task-table-cell_deadline:hover .task-table-cell__input, .task-table-cell__input_deadline:focus {
    opacity: 0.5;
}
.task-table-cell_deadline .task-table-cell__input_deadline:hover {
    opacity: 0.75;
}
.task-table-cell__input_deadline::-webkit-calendar-picker-indicator {
    cursor: pointer;
    opacity: 0;
}