.task-table-cell__label {
    color: black;
    font-size: 1.1rem;
    white-space: nowrap;
    overflow: hidden;
    height: 100%;

    display: flex;
    align-items: center;
}

.task-table-row_header .task-table-cell__label {
    font-weight: 600;
    font-size: 1.25rem;
}

.task-table-row:not(.task-table-row_header) .task-table-cell_name:has(.task-table-cell__input[style*="display: block"]) .task-table-cell__label {
    display: none;
}

.task-table-row:not(.task-table-row_header) .task-table-cell_name .task-table-cell__label {
    flex: 1 0 auto;
    /* background-color: red; */
    /* height: 90%; */
    /* padding-bottom: 2px; */
}


.task-table-row:not(.task-table-row_header) .task-table-cell_name .task-table-cell__label:hover {
    /* border-bottom: var(--table-border);
    background-clip: content-box; */
}

.task-table-cell_add .task-table-cell__label {
    font-weight: 500;
}