.backgroundLayout {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vw;

  background-color: #252628;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: url("../../../../../public/assets/img/bg.svg");
    opacity: 0.15;
  }
}