.company-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1vw;

    width: 15vw;
    height: fit-content;
    max-height: 25vw;
}