* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

* > div {
    font-size: 0;
}

p, a, input, label {
    font-size: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

::placeholder, ::-webkit-input-placeholder {
    color: rgb(180, 180, 180);
}

::-webkit-datetime-edit {
    display: none;
}

:root {
    --main-border: solid 1px rgb(220, 220, 220);
    --table-border: solid 1px #D9D9D9;
    --table-border-select: solid 3px #bebebe;

    --table-cell-name: 325px;
    --table-cell-status: 165px;
    --table-cell-tags: 215px;
    --table-cell-responsibles: 215px;
    --table-cell-deadline: 140px;
    --table-cell-description: 180px;
}