@import "fonts";

@import "variables";
@import "functions";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
}

#root {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: auto;
}

input {
  background: none;
}