.taskTable {
  display: table;
  flex-direction: column;
  margin: 2vw;

  width: 90%;
  max-width: 90%;
  height: fit-content;

  border-collapse: collapse;
  background: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.15) 10%, rgba(0, 0, 0, 0.2) 85%, transparent);

  border-top: var(--task-table-border);
}

.taskTableRow {
  display: table-row;

  width: 100%;

  border-bottom: var(--task-table-border);

  &_header {
    border-bottom: var(--task-table-border);
  }

  &_full {
    //display: block;
    //background: blue;
  }

  &_full .taskTableCellContent {
    //background: red;
  }
}

.taskTableCell {
  display: table-cell;
  text-align: center;

  padding: 0.25vw;
  height: 3vw;

  white-space: nowrap;
  max-width: 20vw;
  width: 1%;

  text-align: left;
  font-weight: normal;

  overflow: hidden;

  &:not(:last-child) {
    border-right: var(--task-table-border);
  }
}

.taskTableCellContent {
  display: flex;
  width: 100%;
  height: 100%;

  &_hCenter {
    justify-content: center;
  }

  &_vCenter {
    align-items: center;
  }

  &_header {
    text-align: center;
    font-size: 1.25vw;
    font-weight: 500;
  }
}

.taskTableAdd {
  cursor: pointer;

  & .taskTableCellContent {
    opacity: 0.5;
    transition: opacity 150ms ease;

    &:hover {
      opacity: 1;
    }
  }

  &__label {

  }
}