.task-table-cell {
    display: flex;
    align-items: center;

    padding: 8px 10px;

    align-self: stretch;

    min-width: 175px;
    max-width: 500px;

    /* flex: 1; */
}

.task-table-cell:not(:last-child) {
    border-right: var(--table-border);
}

.task-table-cell:not(:has(.task-table-cell__resize:hover)) {
    /* flex: 1 0; */
    /* background-color: red; */
}



.task-table-row:not(.task-table-row_header) .task-table-cell {
    cursor: pointer;
}

/* Header */

.task-table-row_header .task-table-cell {
    justify-content: center;

    user-select: none;
}

/* Add New */

.task-table-row:has(.task-table-cell_add) {
    width: 100% !important;
    max-width: 100% !important;
}
.task-table-cell_add {
    width: 100% !important;
    max-width: 100% !important;
    justify-content: center;
}
.task-table-cell_add img {
    opacity: 1 !important;
}
.task-table-cell_add .task-table-cell__label {
    color: #808080;
    transition: color ease 150ms;
}
.task-table-cell_add:hover .task-table-cell__label {
    color: #303030;
}
.task-table-cell_add:hover img {
    filter: brightness(50%);
}

/* References */

.task-table-cell_name {
    width: var(--table-cell-name);
    overflow: hidden;
    flex-shrink: 0;
}
.task-table-row:not(.task-table-row_header) .task-table-cell_name > * {
    margin-right: 0.4vw;
}
.task-table-row:not(.task-table-row_header) .task-table-cell_name .task-table-cell__label {
    /* margin-right: 30px; */
}

.task-table-cell_status {
    width: var(--table-cell-status);
    justify-content: center;
    min-width: 90px;
    overflow: hidden;
}

.task-table-cell_tags { 
    width: var(--table-cell-tags);
}
.task-table-row:not(.task-table-row_header) .task-table-cell_tags {
    flex-wrap: wrap;
    max-height: 70px;
    overflow: auto;
    gap: 6px;
    padding: 0px 10px;
    border-top: solid 12px transparent;
    border-bottom: solid 12px transparent;
}
.task-table-row:not(.task-table-row_header) .task-table-cell_tags::-webkit-scrollbar {
    /* display: none; */
    /* background-color: blue; */
    width: 12px;
}
.task-table-row:not(.task-table-row_header) .task-table-cell_tags::-webkit-scrollbar-thumb {
    background-color: rgb(184, 184, 184);
    border-radius: 100dvw;
    background-clip: content-box;
    border: 4px solid transparent;
}
.task-table-row:not(.task-table-row_header) .task-table-cell_tags > * {
    margin-right: 8px;
    /* margin-bottom: 6px; */
}   

.task-table-cell_deadline {
    min-width: 100px;
    width: var(--table-cell-deadline);
    justify-content: center;
}
.task-table-row:not(.task-table-row_header) .task-table-cell_deadline *:not(:last-child) {
    margin-right: 10px;
}


.task-table-cell_description {
    min-width: 50px;
    flex: 1;
    /* background-color: red; */
    width: var(--table-cell-description); 
}