.context-menu-item {
    display: flex;
    align-items: center;
    

    padding: 5px;
    width: 100%;
    
    border-radius: inherit;

    transition: background-color ease 150ms;
    user-select: none;
}

.context-menu-item:not(.context-menu-item_inactive):hover {
    cursor: pointer;
    background-color: rgb(248, 248, 248);
}

.context-menu-item:not(:last-child) {
    margin-bottom: 2px;
}