.context-menu {
    position: absolute;

    left: 0;
    top: 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: fit-content;
    /* max-width: 200px; */
    padding: 5px;

    background-color: white;
    border-radius: 8px;

    box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px 0px;
}