
.formInput {
  display: flex;
  flex-direction: column;

  margin: 0 1vw;
  width: 30vw;

  &_center {
    align-items: center;
  }

  &_fullWidth {
    width: 100%;
  }

  &__input {
    display: flex;
    align-items: center;

    width: 100%;
    height: 3vw;

    padding: 1.25vw;

    font-size: 1.25vw;
    color: white;
    background: #1E1F21;
    appearance: none;
    border: none;
    border-radius: 1vw;
    transition: outline 200ms ease;

    --outline-color: #696969;
    outline: solid 3px transparent;

    &_error {
      //background: red;
      --outline-color: #BE3333;
    }

    &:focus {
      outline: solid 3px var(--outline-color);
    }

    &::placeholder, &::-webkit-input-placeholder {
      color: #8D8D8D;
    }
  }

  &__image {
    //aspect-ratio: 1;
    max-width: 20%;
    //object-fit: cover;
  }

  &__input[type="file"] {
    display: flex;

    width: fit-content;
    height: fit-content;
    background: none;
  }

  &__header {
    margin-left: 1vw;
    margin-bottom: 0.4vw;
    color: #DADADA;
    font-weight: 500;
    font-size: 1.15vw;

    &_error {
      margin-top: 0.25vw;
      margin-left: 0.5vw;
      font-size: 1vw;
      color: #BE3333;

      animation: inputErrorShow 150ms linear forwards;
      @keyframes inputErrorShow {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
    }
  }

  &_picker {
    align-items: center;
  }

  &__color {
    width: 2vw;
    aspect-ratio: 1;
    border-radius: 50%;
    background: none;

    cursor: pointer;

    &:hover {
      transform: scale(1.05);
    }

    &Picker {
      position: absolute;
      display: flex;
      justify-content: center;
      left: 50%;
      top: 100%;
      transform: translateX(-50%);

      margin-top: 0.25vw;
      padding: 0.25vw;

      z-index: 2;

      background: #383839;
      border: 2px solid rgba(255, 229, 0, 0.6);
      border-radius: 1vw;

      div {
        margin: 3px !important;
        padding: 0 !important;
      }
    }
  }

  &:not(:last-child) {
    margin-bottom: 1vw;
  }
}