.form__input {
    height: 45px;
    border-radius: 12px;

    outline: 0;
    border: none;
    background: none;
}

.form__input + .form__label {
    margin-top: 10px;
}

.form__input + .form__label_notice {
    margin-top: 10px;
}

.form__input + .form__input_button {
    margin-top: 20px;
}

.form__input + .form__error {
    margin-top: 5px;
    margin-bottom: 7px;
}

.form__input_text {
    border: solid rgb(221, 221, 221) 1px;
    
    padding: 0 15px;

    transition: border 250ms linear;
}

.form__input_text:focus {
    border: solid rgb(150, 150, 150) 1.5px;
}

.form__error + .form__input_button {
    margin-top: 15px;
}

.form__input_button {
    color: white;
    --bg-color: rgb(44, 112, 238);
    background-color: var(--bg-color);
}

.form__input_button:hover {
    cursor: pointer;
    background-color: color-mix(in srgb, var(--bg-color) 100%, black 12%);
}