<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

    <link rel="stylesheet" href="/frontend/html/content/main.css">

    <link rel="stylesheet" href="/frontend/html/content/main-container/main-container.css">

    <link rel="stylesheet" href="/frontend/html/content/context-menu/context-menu.css">
    <link rel="stylesheet" href="/frontend/html/content/context-menu/context-menu-item/context-menu-item.css">
    <link rel="stylesheet" href="/frontend/html/content/context-menu/context-menu-item/__label/context-menu-item__label.css">

    <link rel="stylesheet" href="/frontend/html/content/view-block/view-block.css">
    <link rel="stylesheet" href="/frontend/html/content/view-block/__label/view-block__label.css">

    <link rel="stylesheet" href="/frontend/html/content/header/header.css">
    <link rel="stylesheet" href="/frontend/html/content/header/header-block/header-block.css">
    <link rel="stylesheet" href="/frontend/html/content/header/header-block/__label/header-block__label.css">
    <link rel="stylesheet" href="/frontend/html/content/header/header-block/__image/header-block__image.css">
</head>
<body>
    <div class="header">
        <div class="header-block header-block_column header-block_space">
            <p class="header-block__label header-block__label_space-name">Загрузка...</p>
            <p class="header-block__label header-block__label_adv">Выбрать пространство</p>
        </div>

        <div class="header-block">
            <p class="header-block__label header-block__label_personal header-block__label_large header-block__label_inactive">Мои задачи</a>
        </div>

        <div class="header-block header-block_user">
            <div class="header-block header-block_column header-block_align-right">
                <p class="header-block__label header-block__label_username">Загрузка...</p>
                <p class="header-block__label header-block__label_adv">Управление аккаунтом</p>
            </div>

            <img class="header-block__image" src="/frontend/html/img/arrow_down.svg">
        </div>
    </div>

    <script type="module" src="/frontend/dist/scripts/header/init.js"></script>
</body>
</html>