.socialButton {
  display: flex;
  justify-content: center;
  align-items: center;

  background: #1E1F21;
  outline: none;
  border: none;
  border-radius: 1vw;
  width: 12vw;
  height: 2vw;

  transition: background 150ms ease;
  cursor: pointer;

  &__img {
    width: 24px;
    margin-right: 0.25vw;
  }

  &__label {
    color: #8D8D8D;
  }

  &:hover {
    background: #191A1C;
  }
  &:hover &__label {
    color: #bebebe;
  }
}