.view-block__label {
    color: black;
    font-size: 1.5rem;

    transition: 150ms ease;
}

.view-block:not(.view-block_inactive) .view-block__label:hover {
    cursor: pointer;
    transform: scale(1.05);
    color: rgb(22, 85, 202);
}

.view-block__label_active {
    font-weight: 600;
}