.task-filter {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;

    width: 250px;
    flex: 1 0 auto;

    margin-left: 30px;
    padding: 12px 24px;

    border: var(--table-border);
    border-radius: 10px;
}