.form {
    display: flex;
    flex-direction: column;
    /* margin: auto 0; */

    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 5px;
    border-radius: 12px;

    min-width: 700px;

    padding: 20px 40px;
}