.action-menu__item {
    padding: 5px;
    width: 100%;

    text-align: center;
    
    cursor: pointer;
}

.action-menu__item:hover {
    background-color: rgb(248, 248, 248);
}

.action-menu__item:first-child {
    border-radius: inherit inherit 0 0;
}

.action-menu__item:last-child {
    border-radius: 0 0 inherit inherit;
}