.context-menu-item__label {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.85rem;
    font-weight: 500;
    color: rgb(80, 80, 80);
    text-align: left;
}

.context-menu-item_inactive .context-menu-item__label {
    color: rgb(50, 50, 50);
    font-size: 0.9rem;
    font-weight: 500;
    padding-bottom: 3px;
    border-bottom: solid 1px rgb(230, 230, 230);
    flex: 1 0 auto;
}

.context-menu_status .context-menu-item:not(.context-menu-item_inactive) .context-menu-item__label,
.context-menu_tags .context-menu-item:not(.context-menu-item_inactive) .context-menu-item__label {
    background-color: var(--trait-color);
    color: color-mix(in srgb, var(--trait-color) 50%, black 100%);
    border-radius: 100dvw;
    font-size: 0.80rem;
    font-weight: 600;

    padding: 2px 10px;
    text-align: center;
    white-space: nowrap;
}