.socialAuth {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: auto;
  margin-bottom: 2vw;

  &__title {
    color: #8D8D8D;
    font-size: 0.95vw;
    margin-bottom: 0.5vw;
  }
}

.socialAuthContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  width: 30vw;

  &__service {
    margin: 0.25vw 0.5vw;
  }
}