.task-table-cell__resize {
    margin-left: auto;

    aspect-ratio: 10/16;
    width: 1vw;

    z-index: 999;

    background-image: url("/frontend/html/img/drag.svg");
    background-repeat: no-repeat;
    /* background-color: red; */
    background-size: 50%;
    background-position: center;
    background-clip: content-box;
    opacity: 0;
    transition: opacity 150ms ease;
}

.task-table-cell__resize:hover {
    cursor: col-resize;
}

.task-table-cell:hover:has(.task-table-cell__resize) .task-table-cell__resize {
    opacity: 1;
}

.task-table-cell:has(.task-table-cell__resize:hover) {
    background-clip: content-box;
    box-shadow: #bebebe 1px 0 0px;
}

.task-table-cell:has(.task-table-cell__resize:active:hover) {
    background-clip: content-box;
    box-shadow: #5ab7ec 3px 0 0px 0px;
}