.task-table-cell__resize {
    position: absolute;

    top: 0;
    right: 0;
    width: 8px;
    height: 100%;

    cursor: col-resize;
    z-index: 999;
}

.task-table-cell:has(.task-table-cell__resize:hover) {
    border-right: var(--table-border-select);
}