.taskDeadline {
  display: flex;
  align-items: center;

  &__label {
    font-size: 1vw;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0;
    border: none;
    outline: none;
    width: 1.5vw;
    height: 1.5vw;
    margin: 0 0.5vw;

    &::-webkit-calendar-picker-indicator {
      padding: 0;
      margin: 0;
      width: 100%;
      height: 100%;
      filter: invert(100%);
      opacity: 0.3;
      cursor: pointer;
      transition: opacity 150ms ease;

      &:hover {
        opacity: 0.75;
      }
    }
  }
}