.header {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 18vw;
  max-width: 18vw;

  padding: 1vw 1vw;

  background: #212122;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 10px 0px;

  &__line {
    height: 1px;
    width: 100%;
    background: #303031;
    margin: 0.75vw 0;
  }

  &Profile {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    width: 100%;
    max-width: 100%;
    height: 3vw;

    &__username {
      //flex: 1 0 auto;
      text-align: right;
      padding: 0 0.5vw;
      font-size: 1.15vw;
      font-weight: bold;
      word-break: break-all;
    }

    &__image {
      object-fit: cover;
      aspect-ratio: 1;
      width: 3.5vw;

      border-radius: 50%;
    }
  }

  &Link {
    display: flex;
    align-items: center;

    width: 100%;
    height: 2vw;
    padding: 0 0.25vw;
    margin: 0.25vw 0;

    border-radius: 0.75vw;
    justify-content: right;
    background: none;
    border: none;
    outline: none;
    appearance: none;

    text-decoration: none;
    transition: background 150ms ease;

    cursor: pointer;

    &__label {
      font-size: 1.15vw;
      padding: 0 0.75vw;
      color: #bebebe;

      transition: color 150ms ease;
    }

    &_active {
      //outline: solid 2px rgba(255, 229, 0, 0.6);
    }

    &:hover {
      background: #262627;

      .headerLink__label {
        color: white;
      }
    }

    &:last-child {
      .headerLink__label {
        color: #DC4545;
      }
    }
  }
}

.header_skeleton {
  .headerProfile {
    &__username {
      height: 1.5vw;
      border-radius: 1vw;
      background: #282829;
    }
  }
}